<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="google-site-verification" content="qj7dglXIdEP0UBAvO70HNGC-2HVbRKQNppc0yj4Cqt8" />
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/materialize/dist/css/materialize.min.css" />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js(.) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/materialize/dist/js/materialize.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular-click-outside/clickoutside.directive.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="//lightwidget.com/widgets/lightwidget.js"></script>
    <script src="scripts/app.js"></script>
    <!-- endbuild -->
</head>


<body ng-app="emptyatlasgithubioApp" ng-controller="MainCtrl">

    <div class="header">
        <div class="navbar navbar-default" role="navigation">
            <div id="nav" class="container">
                <div class="navbar-header">

                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#js-navbar-collapse">
                        <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                    </button>
                </div>

                <div class="collapse navbar-collapse" id="js-navbar-collapse" ng-model="menu" click-outside="hideMenu()">

                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a ng-click="scrollTo('about')">ABOUT</a>
                        </li>
                        <li>
                            <a ng-click="scrollTo('shows')">SHOWS</a>
                        </li>
                        <li>
                            <a ng-click="scrollTo('newsletter')">NEWSLETTER</a>
                        </li>
                        <li>
                            <a ng-href="https://squareup.com/store/empty-atlas-music" target="_blank" ng-click="hideMenu()">STORE</a>
                        </li>
                        <li>
                            <a href="" ng-click="hideMenu(); showContactForm();">CONTACT</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        <div id="home" class="parallax-container">
            <div class="container" style="margin-top: 15vh; margin-bottom: 15vh;">
                <div class="jumbotron" align="center">
                    <img class="fill hidden-xs" src="/images/ea_hestia_logo_2.png">
                    <img class="fill hidden-sm hidden-md hidden-lg" src="/images/ea_hestia_logo_2_vertical.png">
                    <br>
                    <br>
                    <h3 class="hidden-xs" style="margin-bottom: 12px; text-transform: uppercase;">Available Now</h3>
                    <div class="hidden-xs">
                        <a class="btn btn-gray" href="https://itunes.apple.com/us/album/hestia/id1172021169" target="_blank" style="margin: 0 10px;"><img src="/images/social/icon_itunes.png" style="height: 100%; vertical-align: bottom;">
                            <m>&nbsp;&nbsp;iTunes</m>
                        </a>
                        <a class="btn btn-gray" href="https://play.google.com/store/music/album/Empty_Atlas_Hestia?id=Bhygwq7rdqe6sabtmvvescbk4ce&hl=en" target="_blank" style="margin: 0 10px;"><img src="/images/social/icon_google_play.png" style="height: 100%; vertical-align: bottom;">
                            <m>&nbsp;&nbsp;Google Play</m>
                        </a>
                        <a class="btn btn-gray" href="http://a.co/1xmrrPv" target="_blank" style="margin: 0 10px;"><img src="/images/social/icon_amazon.png" style="height: 100%; vertical-align: bottom;">
                            <m>&nbsp;&nbsp;Amazon Music</m>
                        </a>
                        <div class="clearfix"></div>
                    </div>

                    <h4 class="hidden-sm hidden-md hidden-lg" style="margin-bottom: 12px; text-transform: uppercase;">Available Now</h4>
                    <div class="hidden-sm hidden-md hidden-lg">
                        <a class="btn btn-gray col-xs-12 col-sm-8 col-sm-offset-2" style="margin-bottom: 10px;" href="https://itunes.apple.com/us/album/hestia/id1172021169" target="_blank"><img src="/images/social/icon_itunes.png" style="height: 100%; vertical-align: bottom;">
                            <m>&nbsp;&nbsp;iTunes</m>
                        </a>
                        <a class="btn btn-gray col-xs-12 col-sm-8 col-sm-offset-2" style="margin-bottom: 10px;" href="https://play.google.com/store/music/album/Empty_Atlas_Hestia?id=Bhygwq7rdqe6sabtmvvescbk4ce&hl=en" target="_blank"><img src="/images/social/icon_google_play.png" style="height: 100%; vertical-align: bottom;">
                            <m>&nbsp;&nbsp;Google Play</m>
                        </a>
                        <a class="btn btn-gray col-xs-12 col-sm-8 col-sm-offset-2" href="http://a.co/1xmrrPv" target="_blank"><img src="/images/social/icon_amazon.png" style="height: 100%; vertical-align: bottom;">
                            <m>&nbsp;&nbsp;Amazon Music</m>
                        </a>
                        <div class="clearfix"></div>
                    </div>

                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="parallax"><img src="/images/Hestiared_dark_square.png"></div>
        </div>

        <div class="parallax-container valign-wrapper" style="background: #181818;">
            <div class="container">
                <div class="jumbotron" align="center">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/PMqkFWLdcO8"></iframe>
                    </div>
                </div>
            </div>
        </div>

        <div class="parallax-container valign-wrapper" id="spotify">
            <div class="container">
                <div class="jumbotron">
                    <h1>MUSIC</h1>
                    <iframe src="https://embed.spotify.com/?uri=spotify%3Aalbum%3A0LiGP71p9bEpbV7cY4DwLd" width="100%" height="380" frameborder="0" allowtransparency="true"></iframe>
                </div>
            </div>
            <div class="parallax"><img src="/images/IMG_0518.png"></div>
        </div>

        <div class="parallax-container valign-wrapper" style="background: #181818;" id="shows">
            <div class="container">
                <div class="jumbotron">
                    <h1>SHOWS</h1>
                    <div>
                        <script charset="utf-8" src="https://widget.bandsintown.com/main.min.js"></script>
                        <a class="bit-widget-initializer" data-artist-name="Empty Atlas" data-display-local-dates="true" data-display-past-dates="true" data-auto-style="true" data-text-color="#FFFFFF" data-link-color="#c6ac6f" data-popup-background-color="#181818" data-background-color="#181818" data-display-limit="10" data-link-text-color="#FFFFFF"></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="parallax-container valign-wrapper" id="about">
            <div class="container">
                <div class="jumbotron">
                    <h1>ABOUT</h1>
                    <div class="hidden-xs" style="color: white;">
                        <p>Mississippi is a state known for its storytellers. That certainly applies to its rich history of groundbreaking musicians, but not all of these fall in the realms of roots genres like blues and Americana, and not all of them are in the past. </p>

                        <p>Formed in central Mississippi in 2014, independent act Empty Atlas packs poignant narratives of personal growth and life experiences into gripping melodic indie-rock music.</p>

                        <p>Lyricist and vocalist Micah Smith fronts the outfit, which released its debut full-length album, “Hestia,” in December 2016, shortly before bassist Alex Ingram, guitarist Brennan Michael White and drummer Bobby Hansford joined the group.</p>

                        <p>Smith began writing “Hestia,” a follow-up to Empty Atlas’s 2014 double-EP, “Anniversary,” shortly after he and his wife married and moved into their first house, which inspired the central theme of the album – home, and what that concept can mean. However, “Hestia” steers clear of love songs entirely, opting instead for stories of self-discovery and human connection.</p>

                        <p>Empty Atlas is currently performing throughout their region to promote the album, while also preparing new material for a sophomore full-length.</p>

                        <p>The band has shared the stage with national touring acts such as Jared & the Mill, Broadside, Secret Stuff, Cardinal Sons, Ivadell, Hodera and Young Natives, and worked with producers such as Joe Causey (Colony House, Steven Curtis Chapman) and Eric Woolard (For a Season, Courier).</p>

                        <p>“Hestia” is available now on
                            <a href="https://itunes.apple.com/us/artist/empty-atlas/id902603393">iTunes</a>,
                            <a href="https://play.google.com/store/music/album/Empty_Atlas_Hestia?id=Bhygwq7rdqe6sabtmvvescbk4ce&hl=en">Google Play</a>,
                            <a href="http://a.co/1xmrrPv>">Amazon</a>,
                            <a href="https://play.spotify.com/artist/3DB64zL8J0ALL9l7Op2YTn">Spotify</a> and most digital music retailers.</p>
                    </div>
                    <div class="hidden-sm hidden-md hidden-lg" style="color: white; height: 300px; overflow: scroll; background-color: rgba(0, 0, 0, 0.5); padding: 5px; border-radius: 4px;">
                        <p>Mississippi is a state known for its storytellers. That certainly applies to its rich history of groundbreaking musicians, but not all of these fall in the realms of roots genres like blues and Americana, and not all of them are in the past. </p>

                        <p>Formed in central Mississippi in 2014, independent act Empty Atlas packs poignant narratives of personal growth and life experiences into gripping melodic indie-rock music.</p>

                        <p>Lyricist and vocalist Micah Smith fronts the outfit, which released its debut full-length album, “Hestia,” in December 2016, shortly before bassist Alex Ingram, guitarist Brennan Michael White and drummer Bobby Hansford joined the group.</p>

                        <p>Smith began writing “Hestia,” a follow-up to Empty Atlas’s 2014 double-EP, “Anniversary,” shortly after he and his wife married and moved into their first house, which inspired the central theme of the album – home, and what that concept can mean. However, “Hestia” steers clear of love songs entirely, opting instead for stories of self-discovery and human connection.</p>

                        <p>Empty Atlas is currently performing throughout their region to promote the album, while also preparing new material for a sophomore full-length.</p>

                        <p>The band has shared the stage with national touring acts such as Jared & the Mill, Broadside, Secret Stuff, Cardinal Sons, Ivadell, Hodera and Young Natives, and worked with producers such as Joe Causey (Colony House, Steven Curtis Chapman) and Eric Woolard (For a Season, Courier).</p>

                        <p>“Hestia” is available now on
                            <a href="https://itunes.apple.com/us/artist/empty-atlas/id902603393">iTunes</a>,
                            <a href="https://play.google.com/store/music/album/Empty_Atlas_Hestia?id=Bhygwq7rdqe6sabtmvvescbk4ce&hl=en">Google Play</a>,
                            <a href="http://a.co/1xmrrPv>">Amazon</a>,
                            <a href="https://play.spotify.com/artist/3DB64zL8J0ALL9l7Op2YTn">Spotify</a> and most digital music retailers.</p>
                    </div>
                </div>
            </div>
            <div class="parallax"><img src="/images/IMG_1808_3.png"></div>
        </div>

        <div class="parallax-container valign-wrapper">
            <div class="container">
                <div class="jumbotron">
                    <h1>INSTAGRAM</h1>
                    <iframe src="//lightwidget.com/widgets/347c930c652c5558960efb80f335c893.html" scrolling="no" allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
                </div>
            </div>
            <div class="parallax"><img src="/images/IMG_0521.png"></div>
        </div>

        <div class="parallax-container valign-wrapper" style="background-color: #181818;" id="newsletter">
            <div class="container">
                <div class="jumbotron">
                    <h1>NEWSLETTER</h1>
                    <!-- Begin MailChimp Signup Form -->
                    <div id="mc_embed_signup" class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12" style="padding: 0;">
                        <form action="//emptyatlas.us13.list-manage.com/subscribe/post?u=ab78edd056a1703ec9077b2b0&amp;id=14ff368932" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate style="padding:0px !important;">
                            <div class="input-group" id="mc_embed_signup_scroll" align="center">
                                <input style="height:36px;" type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="email address" required>
                                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                                    <input type="text" name="b_ab78edd056a1703ec9077b2b0_14ff368932" tabindex="-1" value="">
                                </div>
                                <span class="input-group-btn"><button class="btn btn-dark btn-sm" type="submit" name="subscribe" id="mc-embedded-subscribe" style="margin: 0px; box-shadow: none;">SUBSCRIBE</button>
                        </span>
                            </div>
                        </form>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>

    <div class="footer" align="center">
        <ul class="social-footer">
            <li>
                <a class="wsite-social-item wsite-social-facebook" ng-href="http://facebook.com/emptyatlasmusic" target="_blank" title="Facebook"></a>
            </li>
            <li>
                <a class="wsite-social-item wsite-social-instagram" href="http://instagram.com/emptyatlas" target="_blank" title="Instagram"></a>
            </li>
            <li>
                <a class="wsite-social-item wsite-social-spotify" href="https://play.spotify.com/artist/3DB64zL8J0ALL9l7Op2YTn" target="_blank" title="Spotify"></a>
            </li>
            <li>
                <a class="wsite-social-item wsite-social-soundcloud" href="https://soundcloud.com/empty-atlas" target="_blank" title="SoundCloud"></a>
            </li>
        </ul>
        <p><span class="glyphicon glyphicon-copyright-mark"></span>&nbsp;EMPTY ATLAS {{getCurrentYear()}} All Rights Reserved</p>
    </div>

    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-51847004-1', 'emptyatlas.com');
        ga('require', 'displayfeatures');
        ga('send', 'pageview');
    </script>

    <script>
        (function (w, i, d, g, e, t, s) {
            w[d] = w[d] || [];
            t = i.createElement(g);
            t.async = 1;
            t.src = e;
            s = i.getElementsByTagName(g)[0];
            s.parentNode.insertBefore(t, s);
        })(window, document, '_gscq', 'script', '//widgets.getsitecontrol.com/41808/script.js');
    </script>
</body>

</html>
