<footer class="footer">
  <div class="center-flex container">
    <div class="footer-logo">
      <img src="assets/img/ea_logo_vertical_white.png" alt="Empty Atlas"/>
    </div>

    <nav class="footer-nav">
      <a routerLink="/music">Music</a>
      <a routerLink="/" fragment="tour">Tour</a>
      <a routerLink="/merch">Merch</a>
      <a routerLink="/about">About</a>
      <a routerLink="/contact">Contact</a>
    </nav>

    <app-social-icons fontSize="1rem"/>

    <p class="footer-copy">&copy; {{ year }} Empty Atlas. All rights reserved.</p>
  </div>
</footer>
