<div ng-controller="MainCtrl">

  <!--    <div class="w-100 h-100" id="download-body">-->
  <div class="w-100" id="download-body" style="height:100vh;">

    <div class="container no-background py-5">

      <!--            <div class="jumbotron no-background py-5 m-0" align="center">-->
      <!--                <div class="card border-0 p-0 col-md-6 col-md-offset-3 col-sm-12 animated fadeIn" style="background-color: #0000008f;">-->
      <!--                    <img src="./images/phone-wallpapers/ea_wallpaper_2.png" class="card-img-top" alt="Empty Atlas Wallpaper">-->
      <!--                    <div class="card-body">-->
      <!--                        <h3 class="card-title text-white m-0">Tap and hold the image above to see options for saving.</h3>-->
      <!--                        <a href="./images/phone-wallpapers/ea_wallpaper_2.png" class="button btn btn-gold my-4 px-5 animated fadeIn delay-1s" download="Empty Atlas Wallpaper">Free Download</a>-->
      <!--                        <p class="card-text"><a class="text-white" href="http://www.emptyatlas.com">For more information visit <u>emptyatlas.com</u></a></p>-->
      <!--                    </div>-->
      <!--                </div>-->
      <!--            </div>-->
      <!--            -->
      <!--            <div class="jumbotron no-background py-5 m-0" align="center">-->
      <!--                <div class="card border-0 p-0 col-md-6 col-md-offset-3 col-sm-12 animated fadeIn" style="background-color: #0000008f;">-->
      <!--                    <img src="./images/phone-wallpapers/ea_wallpaper_10.png" class="card-img-top" alt="Empty Atlas Wallpaper">-->
      <!--                    <div class="card-body">-->
      <!--                        <h3 class="card-title text-white m-0">Tap and hold the image above to see options for saving.</h3>-->
      <!--                        <a href="./images/phone-wallpapers/ea_wallpaper_10.png" class="button btn btn-gold my-4 px-5 animated fadeIn delay-1s" download="Empty Atlas Wallpaper">Free Download</a>-->
      <!--                        <p class="card-text"><a class="text-white" href="http://www.emptyatlas.com">For more information visit <u>emptyatlas.com</u></a></p>-->
      <!--                    </div>-->
      <!--                </div>-->
      <!--            </div>-->
      <!--            -->
      <!--            <div class="jumbotron no-background py-5 m-0" align="center">-->
      <!--                <div class="card border-0 p-0 col-md-6 col-md-offset-3 col-sm-12 animated fadeIn" style="background-color: #0000008f;">-->
      <!--                    <img src="./images/phone-wallpapers/ea_wallpaper_6.png" class="card-img-top" alt="Empty Atlas Wallpaper">-->
      <!--                    <div class="card-body">-->
      <!--                        <h3 class="card-title text-white m-0">Tap and hold the image above to see options for saving.</h3>-->
      <!--                        <a href="./images/phone-wallpapers/ea_wallpaper_6.png" class="button btn btn-gold my-4 px-5 animated fadeIn delay-1s" download="Empty Atlas Wallpaper">Free Download</a>-->
      <!--                        <p class="card-text"><a class="text-white" href="http://www.emptyatlas.com">For more information visit <u>emptyatlas.com</u></a></p>-->
      <!--                    </div>-->
      <!--                </div>-->
      <!--            </div>-->
      <!--            -->
      <!--            <div class="jumbotron no-background py-5 m-0" align="center">-->
      <!--                <div class="card border-0 p-0 col-md-6 col-md-offset-3 col-sm-12 animated fadeIn" style="background-color: #0000008f;">-->
      <!--                    <img src="./images/phone-wallpapers/ea_wallpaper_9.png" class="card-img-top" alt="Empty Atlas Wallpaper">-->
      <!--                    <div class="card-body">-->
      <!--                        <h3 class="card-title text-white m-0">Tap and hold the image above to see options for saving.</h3>-->
      <!--                        <a href="./images/phone-wallpapers/ea_wallpaper_9.png" class="button btn btn-gold my-4 px-5 animated fadeIn delay-1s" download="Empty Atlas Wallpaper">Free Download</a>-->
      <!--                        <p class="card-text"><a class="text-white" href="http://www.emptyatlas.com">For more information visit <u>emptyatlas.com</u></a></p>-->
      <!--                    </div>-->
      <!--                </div>-->
      <!--            </div>-->

      <div class="jumbotron no-background py-5 m-0" align="center">
        <div class="card border-0 p-0 col-md-6 col-md-offset-3 col-sm-12 animated fadeIn"
             style="background-color: #0000008f;">
          <img src="./images/Kairos-as-performed-by-Empty-Atlas.png" class="card-img-top"
               alt="Kairos as performed by Empty Atlas">
          <div class="card-body">
            <h3 class="card-title text-white m-0">“Maximal”</h3>
            <a href="./music/Maximal-by-Empty-Atlas.mp3" class="button btn btn-gold my-4 px-5 animated fadeIn delay-1s"
               download="Maximal by Empty Atlas" ng-click="recordLinkClick('click-free-download', 'Download')">Free Download</a>
            <p class="card-text"><a class="text-white" href="http://www.emptyatlas.com">For more music and information
              visit <u>emptyatlas.com</u></a></p>
          </div>
        </div>

        <div class="center mt-3">
          <a href="{{downloadHelp}}" style="font-size: 14px;" ng-click="recordLinkClick('click-free-download', 'Need Help')">Need help?</a>
        </div>
      </div>

    </div>
  </div>
</div>

<div id="footer" ng-include="'views/footer.html'"></div>

<script>
  // Skip recording GA events to our account if in development.
  if (document.location.hostname != 'localhost' && document.location.hostname != '127.0.0.1') {
    // ga('set', 'page', '/' + location.hash);
    // ga('send', 'pageview', '/' + location.hash);
    gtag('config', 'UA-51847004-1', {
      'page_title' : 'Download',
      'page_path': '/' + location.hash
    });
  }
</script>
