<div ng-controller="MainCtrl">
    <div class="hidden-xs">
        <div class="fill" style="height: calc(100vh - 108px)">
            <div class="parallax-container">
                <div class="container fill">
                    <div class="jumbotron fill" align="center">

                        <div class="row fill" style="margin: 0;">
                            <div class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4" style="display: grid; height: 100%;">
                                <div class="thumbnail" style="background-color: #0000008f; border-color: #0000008f; padding: 0; margin: auto;">
                                    <img src="./images/Hestia_smol.jpg">
                                    <div class="caption">
                                        <h3>House Fire</h3>
                                        <p></p>
                                        <p>
                                            <a class="btn btn-dark" href="./music/House-Fire.mp3" style="margin: 0 10px; background-color: #872731;" download="House Fire by Empty Atlas">
                                                <m>Download</m>
                                            </a>
                                        </p>
                                        <p></p>
                                        <p><a href="http://www.emptyatlas.com">For more music and information visit emptyatlas.com</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="parallax"><img src="./images/IMG_0518.jpg"></div>
            </div>
        </div>

        <div class="footer" align="center">
            <ul class="social-footer">
                <li>
                    <a ng-href="http://facebook.com/emptyatlasmusic" target="_blank" title="Facebook"><i class="fab fa-facebook fa-2x"></i></a>
                </li>
                <li>
                    <a href="http://instagram.com/emptyatlas" target="_blank" title="Instagram"><i class="fab fa-instagram fa-2x"></i></a>
                </li>
                <li>
                    <a href="https://play.spotify.com/artist/3DB64zL8J0ALL9l7Op2YTn" target="_blank" title="Spotify"><i class="fab fa-spotify fa-2x"></i></a>
                </li>
                <li>
                    <a href="https://soundcloud.com/empty-atlas" target="_blank" title="SoundCloud"><i class="fab fa-soundcloud fa-2x"></i></a>
                </li>
            </ul>
            <p><span class="glyphicon glyphicon-copyright-mark"></span>&nbsp;EMPTY ATLAS {{getCurrentYear()}} All Rights Reserved</p>
        </div>
    </div>


    <div class="hidden-sm hidden-md hidden-lg">
        <div class="parallax-container">
            <div class="container">
                <div class="jumbotron" align="center">

                    <div class="row" style="margin: 0;">
                        <div class="col-sm-6 col-md-4 col-sm-offset-3 col-md-offset-4" style="display: grid; height: 100%;">
                            <div class="thumbnail" style="background-color: #0000008f; border-color: #0000008f; padding: 0; margin: auto;">
                                <img src="./images/Hestia_smol.jpg">
                                <div class="caption">
                                    <h3>House Fire</h3>
                                    <p></p>
                                    <p>
                                        <a class="btn btn-dark" href="./music/House-Fire.mp3" style="margin: 0 10px; background-color: #872731;" download="House Fire by Empty Atlas">
                                            <m>Download</m>
                                        </a>
                                    </p>
                                    <p></p>
                                    <p><a href="http://www.emptyatlas.com">For more music and information visit emptyatlas.com</a></p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div>
            </div>
            <div class="parallax"><img src="./images/IMG_0518.jpg"></div>
        </div>


        <div class="footer" align="center">
            <ul class="social-footer">
                <li>
                    <a ng-href="http://facebook.com/emptyatlasmusic" target="_blank" title="Facebook"><i class="fab fa-facebook fa-2x"></i></a>
                </li>
                <li>
                    <a href="http://instagram.com/emptyatlas" target="_blank" title="Instagram"><i class="fab fa-instagram fa-2x"></i></a>
                </li>
                <li>
                    <a href="https://play.spotify.com/artist/3DB64zL8J0ALL9l7Op2YTn" target="_blank" title="Spotify"><i class="fab fa-spotify fa-2x"></i></a>
                </li>
                <li>
                    <a href="https://soundcloud.com/empty-atlas" target="_blank" title="SoundCloud"><i class="fab fa-soundcloud fa-2x"></i></a>
                </li>
            </ul>
            <p><span class="glyphicon glyphicon-copyright-mark"></span>&nbsp;EMPTY ATLAS {{getCurrentYear()}} All Rights Reserved</p>
        </div>
    </div>
    
</div>

<!--
<script>
    $(document).ready(function() {
        $('.parallax').parallax();
    });

</script>
-->
