<div ng-controller="MainCtrl">

    <div class="w-100 h-100" id="download-body">

        <div class="container no-background py-5">
            <div class="jumbotron no-background py-5 m-0" align="center">

                <div class="card border-0 p-0 col-md-6 col-md-offset-3 col-sm-12 animated fadeIn" style="background-color: #0000008f;">
                    <img src="./images/Hestia_smol.jpg" class="card-img-top" alt="Hestia">
                    <div class="card-body">
                        <h3 class="card-title text-white m-0">“House Fire”</h3>
                        <a href="./music/House-Fire.mp3" class="button btn btn-gold my-4 px-5 animated fadeIn delay-1s" download="House Fire by Empty Atlas">Free Download</a>
                        <p class="card-text"><a class="text-white" href="http://www.emptyatlas.com">For more music and information visit <u>emptyatlas.com</u></a></p>
                    </div>
                </div>

                <div class="center mt-3">
                    <a href="{{downloadHelp}}" style="font-size: 14px;">Having trouble?</a>
                </div>

            </div>
        </div>
    </div>
</div>

<div id="footer" ng-include="'views/footer.html'"></div>
