<footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md mb-4">
      <img src="/images/ea_logo_vertical_black.png" style="height: 36px;"/>
      <small class="d-block text-muted">© 2014-{{getCurrentYear()}}</small>
    </div>
    <div class="col-6 col-md mb-4">
      <h5>Listen</h5>
      <ul class="list-unstyled text-small">
        <li>
          <a class="text-muted" href="{{iTunesUrl}}" target="_blank" ng-click="recordLinkClick('click-footer', 'iTunes')"><i class="fab fa-itunes-note"></i>&nbsp;&nbsp;iTunes</a>
        </li>
        <li>
          <a class="text-muted" href="{{appleMusicUrl}}" target="_blank" ng-click="recordLinkClick('click-footer', 'Apple Music')"><i class="fab fa-apple"></i>&nbsp;&nbsp;Apple
            Music</a>
        </li>
        <li>
          <a class="text-muted" href="{{spotifyUrl}}" target="_blank" ng-click="recordLinkClick('click-footer', 'Spotify')"><i class="fab fa-spotify"></i>&nbsp;&nbsp;Spotify</a>
        </li>
        <li>
          <a class="text-muted" href="{{tidalUrl}}" target="_blank" ng-click="recordLinkClick('click-footer', 'Tidal')"><i class="fab"><img
            src="/images/tidal-icon_light-gray.svg" style="width: 16px; height: 100%;"/></i>&nbsp;&nbsp;Tidal</a>
        </li>
        <li>
          <a class="text-muted" href="{{youTubeMusicUrl}}" target="_blank" ng-click="recordLinkClick('click-footer', 'YouTube Music')"><i class="fab fa-youtube-square"></i>&nbsp;&nbsp;YouTube
            Music</a>
        </li>
        <li>
          <a class="text-muted" href="{{amazonMusicUrl}}" target="_blank" ng-click="recordLinkClick('click-footer', 'Amazon Music')"><i class="fab fa-amazon"></i>&nbsp;&nbsp;Amazon
            Music</a>
        </li>
        <li>
          <a class="text-muted" href="{{soundCloudUrl}}" target="_blank"><i class="fab fa-soundcloud" ng-click="recordLinkClick('click-footer', 'SoundCloud')"></i>&nbsp;&nbsp;SoundCloud</a>
        </li>
        <li>
          <a class="text-muted" href="{{bandcampUrl}}" target="_blank"><i class="fab fa-bandcamp" ng-click="recordLinkClick('click-footer', 'Bandcamp')"></i>&nbsp;&nbsp;Bandcamp</a>
        </li>
      </ul>
    </div>
    <div class="col-6 col-md mb-4">
      <h5>Social</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="{{facebookUrl}}" target="_blank" ng-click="recordLinkClick('click-footer', 'Facebook')"><i class="fab fa-facebook-square"></i>&nbsp;&nbsp;Facebook</a>
        </li>
        <li><a class="text-muted" href="{{instagramUrl}}" target="_blank" ng-click="recordLinkClick('click-footer', 'Instagram')"><i class="fab fa-instagram"></i>&nbsp;&nbsp;Instagram</a>
        </li>
        <li><a class="text-muted" href="{{youTubeUrl}}" target="_blank" ng-click="recordLinkClick('click-footer', 'YouTube')"><i class="fab fa-youtube-square"></i>&nbsp;&nbsp;YouTube</a>
        </li>
        <li><a class="text-muted" href="{{tikTokUrl}}" target="_blank" ng-click="recordLinkClick('click-footer', 'TikTok')"><i class="fab fa-tiktok"></i>&nbsp;&nbsp;TikTok</a>
        </li>
        <li><a class="text-muted" href="{{shopUrl}}" target="_blank" ng-click="recordLinkClick('click-footer', 'Merch')"><i class="fas fa-shopping-bag"></i>&nbsp;&nbsp;Merch</a>
        </li>
        <li><a class="text-muted" href="mailto:hello@emptyatlas.com" target="_blank" ng-click="recordLinkClick('click-footer', 'Contact')"><i class="far fa-envelope"></i>&nbsp;&nbsp;Contact</a>
        </li>
        <li><a class="text-muted" ng-click="clearActiveModule()" href="#/presskit" ng-click="recordLinkClick('click-footer', 'Press Kit')"><i class="far fa-newspaper"></i>&nbsp;&nbsp;Press
          Kit</a></li>
      </ul>
    </div>
    <div class="col-12 col-md mb-4">
      <h5>Credit</h5>
      <ul class="list-unstyled text-small">
        <li ng-show="{{showTeaser}}"><a class="text-muted" href="" target="_blank" ng-click="recordLinkClick('click-footer', 'Best Ok Designs')">Website and “Kairos” artwork by Jeana Smith</a>
        <li ng-hide="{{showTeaser}}"><a class="text-muted" href="" target="_blank" ng-click="recordLinkClick('click-footer', 'Best Ok Designs')">Website, "Matador" artwork, and “Kairos” artwork by Jeana Smith</a>
        <li><a class="text-muted" href="{{emmiSprayberryUrl}}" target="_blank" ng-click="recordLinkClick('click-footer', 'Emmi Sprayberry')">“Short Fiction” artwork by Emmi
          Sprayberry</a></li>
        <li><a class="text-muted" href="{{azhaSandersUrl}}" target="_blank" ng-click="recordLinkClick('click-footer', 'Azha Sanders')">“Hestia” artwork by Azha Sanders</a></li>
        <!--                <li><a class="text-muted" href="{{kodyGautierUrl}}" target="_blank">Photo by Kody Gautier</a></li>-->
        </li>
      </ul>
    </div>
  </div>
</footer>
