<footer class="container py-5">
  <div class="row">
    <div class="col-12 col-md mb-4">
      <img src="/images/ea_logo_vertical_black.png" style="height: 36px;"/>
      <small class="d-block text-muted">© 2014-{{getCurrentYear()}}</small>
    </div>
    <div class="col-6 col-md mb-4">
      <h5>Listen</h5>
      <ul class="list-unstyled text-small">
        <li>
          <a class="text-muted" href="{{spotifyUrl}}" target="_blank"
             ng-click="recordLinkClick('Footer', 'Spotify')"><i class="fab fa-spotify"></i>&nbsp;&nbsp;Spotify</a>
        </li>
        <li>
          <a class="text-muted" href="{{appleMusicUrl}}" target="_blank"
             ng-click="recordLinkClick('Footer', 'Apple Music')"><i class="fab fa-apple"></i>&nbsp;&nbsp;Apple
            Music</a>
        </li>
        <li>
          <a class="text-muted" href="{{tidalUrl}}" target="_blank" ng-click="recordLinkClick('Footer', 'Tidal')"><i
            class="fab"><img
            src="/images/tidal-icon_light-gray.svg" style="width: 16px; height: 100%;"/></i>&nbsp;&nbsp;Tidal</a>
        </li>
        <li>
          <a class="text-muted" href="{{youTubeMusicUrl}}" target="_blank"
             ng-click="recordLinkClick('Footer', 'YouTube Music')"><i class="fab fa-youtube-square"></i>&nbsp;&nbsp;YouTube
            Music</a>
        </li>
        <li>
          <a class="text-muted" href="{{amazonMusicUrl}}" target="_blank"
             ng-click="recordLinkClick('Footer', 'Amazon Music')"><i class="fab fa-amazon"></i>&nbsp;&nbsp;Amazon
            Music</a>
        </li>
        <li>
          <a class="text-muted" href="{{soundCloudUrl}}" target="_blank"><i class="fab fa-soundcloud"
                                                                            ng-click="recordLinkClick('Footer', 'SoundCloud')"></i>&nbsp;&nbsp;SoundCloud</a>
        </li>
        <li>
          <a class="text-muted" href="{{bandcampUrl}}" target="_blank"><i class="fab fa-bandcamp"
                                                                          ng-click="recordLinkClick('Footer', 'Bandcamp')"></i>&nbsp;&nbsp;Bandcamp</a>
        </li>
        <li>
          <a class="text-muted" href="#/music"><i class="fas fa-compact-disc"
                                                  ng-click="recordLinkClick('Footer', 'Discography')"></i>&nbsp;&nbsp;Discography</a>
        </li>
      </ul>
    </div>
    <div class="col-6 col-md mb-4">
      <h5>Social</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="{{facebookUrl}}" target="_blank"
               ng-click="recordLinkClick('Footer', 'Facebook')"><i class="fab fa-facebook-square"></i>&nbsp;&nbsp;Facebook</a>
        </li>
        <li><a class="text-muted" href="{{instagramUrl}}" target="_blank"
               ng-click="recordLinkClick('Footer', 'Instagram')"><i class="fab fa-instagram"></i>&nbsp;&nbsp;Instagram</a>
        </li>
        <li><a class="text-muted" href="{{youTubeUrl}}" target="_blank"
               ng-click="recordLinkClick('Footer', 'YouTube')"><i class="fab fa-youtube-square"></i>&nbsp;&nbsp;YouTube</a>
        </li>
        <li><a class="text-muted" href="{{tikTokUrl}}" target="_blank"
               ng-click="recordLinkClick('Footer', 'TikTok')"><i class="fab fa-tiktok"></i>&nbsp;&nbsp;TikTok</a>
        </li>
        <li><a class="text-muted" href="#/shop" ng-click="recordLinkClick('Footer', 'Merch')"><i
          class="fas fa-shopping-bag"></i>&nbsp;&nbsp;Merch</a>
        </li>
        <li><a class="text-muted" href="mailto:hello@emptyatlas.com" target="_blank"
               ng-click="recordLinkClick('Footer', 'Contact')"><i class="far fa-envelope"></i>&nbsp;&nbsp;Contact</a>
        </li>
        <li><a class="text-muted" ng-click="clearActiveModule()" href="#/presskit"
               ng-click="recordLinkClick('Footer', 'Press Kit')"><i class="far fa-newspaper"></i>&nbsp;&nbsp;Press
          Kit</a></li>
      </ul>
    </div>
    <div class="col-12 col-md mb-4">
      <h5>Credit</h5>
      <ul class="list-unstyled text-small">
        <li><a class="text-muted" href="" target="_blank" ng-click="recordLinkClick('Footer', 'Jake Slinkard')">Photography
          and video by Jake Slinkard</a>
        <li><a class="text-muted" href="{{brentMcQuillinPhotographyUrl}}" target="_blank"
               ng-click="recordLinkClick('Footer', 'Brent McQuillin')">Photography by Brent McQuillin</a>
        <li><a class="text-muted" href="" target="_blank" ng-click="recordLinkClick('Footer', 'Best Ok Designs')">Website,
          "Belong" artwork, "I Can't Make You Love Me" artwork, "Half Magic" artwork, "Matador" artwork, and “Kairos”
          artwork by Jeana Smith</a>
        <li><a class="text-muted" href="{{emmiSprayberryUrl}}" target="_blank"
               ng-click="recordLinkClick('Footer', 'Emmi Sprayberry')">“Short Fiction” artwork by Emmi
          Sprayberry</a></li>
        <li><a class="text-muted" href="{{azhaSandersUrl}}" target="_blank"
               ng-click="recordLinkClick('Footer', 'Azha Sanders')">“Hestia” artwork by Azha</a></li>
        <!--                <li><a class="text-muted" href="{{kodyGautierUrl}}" target="_blank">Photo by Kody Gautier</a></li>-->
        </li>
      </ul>
    </div>
  </div>
</footer>
