<div class="jumbotron" align="center">
  <img src="/images/ea_logo_vertical_white.png" style="width: 100%; max-width: 365px;">
</div>

<div class="row marketing">
  <div class="col-md-6" id="left-column" align="center">
    <div class="cell" id="shows">
      <h1 style="margin-top: 0;">SHOWS</h1>
      <script type='text/javascript' src='http://widget.bandsintown.com/javascripts/bit_widget.js'></script>
      <a href="http://www.bandsintown.com/Empty%20Atlas" class="bit-widget-initializer" data-artist="Empty Atlas"
        data-text-color="white" data-link-color="white"></a>
    </div>

    <div class="cell" id="instagram">
      <h1>INSTAGRAM</h1>
      <!-- LightWidget WIDGET -->
      <script src="//lightwidget.com/widgets/lightwidget.js"></script>
      <iframe src="//lightwidget.com/widgets/149e356dda625cd7b52ae710a646c3ee.html" id="lightwidget_149e356dda"
        name="lightwidget_149e356dda" scrolling="no" allowtransparency="true" class="lightwidget-widget"
        style="width: 100%; border: 0; overflow: hidden;"></iframe>
    </div>
  </div>

  <div class="col-md-6" id="right-column" align="center">
    <div class="cell" id="spotify">
      <iframe src="https://embed.spotify.com/?uri=spotify:album:7eSkqCk3UG2OUHxrrh0YFc" width="auto" height="380"
        frameborder="0" allowtransparency="true"></iframe>
    </div>

    <div class="cell" id="newsletter">
      <h1>NEWSLETTER</h1>
      <!-- Begin MailChimp Signup Form -->
      <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
      <div id="mc_embed_signup" class="col-md-12">
        <form action="//emptyatlas.us13.list-manage.com/subscribe/post?u=ab78edd056a1703ec9077b2b0&amp;id=14ff368932"
          method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
          target="_blank" novalidate style="padding:10px !important;">
          <div id="mc_embed_signup_scroll" align="center">
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address"
              style="width:100%;" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
              name="b_ab78edd056a1703ec9077b2b0_14ff368932" tabindex="-1" value=""></div>
            <div class="clear col-md-4" style="padding:0;"></div>
            <div class="clear col-md-4" style="padding:0;">
              <input type="submit" value="SUBSCRIBE" name="subscribe" id="mc-embedded-subscribe" class="button btn-dark"
                style="width: 100%;">
            </div>
            <div class="clear col-md-4" style="padding:0;"></div>
          </div>
        </form>
      </div>
      <div style="clear:both;"></div>
      <!--End mc_embed_signup-->
    </div>

    <div class="cell" name="contact">
      <a id="contact"></a>
      <h1>CONTACT</h1>
      <h4>micah@emptyatlas.com</h4>
    </div>
  </div>
</div>
