<div class="jumbotron" align="center" style="padding-bottom:0;">
  <img style="height:100%; width:100%;" src="/images/ea_hestia_logo_2.png">
</div>
<!--<div class="jumbotron" align="center">-->
  <!--<div class="embed-responsive embed-responsive-16by9">-->
    <!--<iframe class="embed-responsive-item" src="https://www.youtube.com/embed/PMqkFWLdcO8"></iframe>-->
  <!--</div>-->
<!--</div>-->
<div class="col-md-12 col-sm-12 col-xs-12" align="center" style="margin-bottom: 30px;">
  <!--&lt;!&ndash; Pre-Order Buttons &ndash;&gt;-->
  <!--<a href="https://itunes.apple.com/us/album/hestia/id1172021169" target="_blank"><img src="images/preorder_btn_itunes.png"-->
  <!--style="height: 100%; width: 100%; max-width: 300px;"></a>-->
  <!-- Buy Buttons -->
  <div class="col-md-3 col-sm-6 col-xs-12" style="margin-bottom: 10px;">
    <a href="https://itunes.apple.com/us/album/hestia/id1172021169" target="_blank"><img src="images/buy_btn_itunes.png"
      style="height: 100%; width: 100%; max-width: 300px;"></a>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12" style="margin-bottom: 10px;">
    <a href="https://play.google.com/store/music/album/Empty_Atlas_Hestia?id=Bhygwq7rdqe6sabtmvvescbk4ce&hl=en" target="_blank"><img src="images/buy_btn_google.png" style="height: 100%; width: 100%; max-width: 300px;"></a>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12" style="margin-bottom: 10px;">
    <a href="http://a.co/1xmrrPv" target="_blank"><img src="images/buy_btn_amazon.png" style="height: 100%; width: 100%; max-width: 300px;"></a>
  </div>
  <div class="col-md-3 col-sm-6 col-xs-12" style="margin-bottom: 10px;">
    <a href="https://squareup.com/store/empty-atlas-music/item/hestia-album" target="_blank"><img src="images/buy_btn_square2.png" style="height: 100%; width: 100%; max-width: 300px;"></a>
  </div>
</div><!--<div class="jumbotron" align="center">--><!--<div><img src="/images/ea_logo_vertical_white.png"></div>--><!--</div>-->

<div class="row marketing" align="center">

  <div class="col-md-12 col-sm-12 col-xs-12" id="spotify-and-shows">
    <div class="col-md-6 col-sm-12" id="spotify">
      <h1>MUSIC</h1>
      <iframe src="https://embed.spotify.com/?uri=spotify%3Aalbum%3A0LiGP71p9bEpbV7cY4DwLd" width="300" height="380" frameborder="0"
        allowtransparency="true"></iframe>
    </div>

    <div class="col-md-6 col-sm-12" id="shows">
      <h1>SHOWS</h1>
      <div class="shadow">
        <script type='text/javascript' src='http://widget.bandsintown.com/javascripts/bit_widget.js'></script>
        <a href="http://www.bandsintown.com/Empty%20Atlas" class="bit-widget-initializer" data-artist="Empty Atlas" data-text-color="white"
          data-link-color="#E49959" data-facebook-page-id="309261972560524"></a>
      </div>
    </div>
  </div>

  <div class="col-md-12 col-sm-12 col-xs-12" id="insta-and-news">
    <div class="col-md-6 col-sm-6" id="instagram">
      <h1>INSTAGRAM</h1>
      <!-- LightWidget WIDGET -->
      <script src="//lightwidget.com/widgets/lightwidget.js"></script>
      <iframe src="//lightwidget.com/widgets/149e356dda625cd7b52ae710a646c3ee.html" id="lightwidget_149e356dda" name="lightwidget_149e356dda" scrolling="no"
        allowtransparency="true" class="lightwidget-widget" style="width: 100%; border: 0; overflow: hidden;"></iframe>
    </div>

    <div class="col-md-6 col-sm-6" id="news">
      <h1>LATEST NEWS</h1>
      <div class="latest-news" align="center">
        <div class="latest-news-content">
          <div class="blog-post" ng-repeat="n in latestNews">
            <h2>{{n.date}}</h2>
            <div ng-bind-html="n.content"></div>
          </div>
          <div class="blog-post">
            <a href="#/news" style="font-size: 10pt;">READ MORE</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-md-12 col-sm-12 col-xs-12" id="newsletter">
    <h1>NEWSLETTER</h1>
    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup" class="col-md-8 col-md-offset-2 col-sm-12 col-xs-12">
      <form action="//emptyatlas.us13.list-manage.com/subscribe/post?u=ab78edd056a1703ec9077b2b0&amp;id=14ff368932" method="post"
        id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate style="padding:0px !important;">
        <div class="input-group" id="mc_embed_signup_scroll" align="center">
          <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="email address" style="font-family: Didot;" required>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ab78edd056a1703ec9077b2b0_14ff368932" tabindex="-1"
            value=""></div>
          <span class="input-group-btn">
            <button class="btn btn-dark" type="submit" name="subscribe" id="mc-embedded-subscribe">SUBSCRIBE</button>
          </span>
        </div>
      </form>
    </div>
    <div style="clear:both;"></div>
    <!--End mc_embed_signup-->
  </div>

  <div class="col-md-12 col-sm-12 col-xs-12" name="contact">
    <h1>CONTACT</h1>
    <h4>micah@emptyatlas.com</h4>
  </div>

</div>

<div style="clear:both;"></div>
