<div ng-include="'views/nav.html'"></div>

<div id="music" class="d-md-flex flex-md-equal">
  <div class="text-center text-white container">
    <div class="my-3 p-5 row center">

      <div class="col-12 px-0" align="center">

        <div class="h-100 d-table">
          <div class="d-table-cell align-middle">

            <div name="spacer" class="row py-1 show-on-small hide-on-med-and-up"></div>

            <div class="row mb-5">
              <div class="col-12">
                <h1 class="w-100 center">LITTLE VOICES</h1>
              </div>
              <!--              <div class="col-md-4 offset-md-4 col-sm-12 offset-sm-0 center mb-4">-->
              <!--                <img src="/images/Belong-by-Empty-Atlas.jpeg" class="w-100">-->
              <!--              </div>-->
              <div class="col-12">
                <h3 class="w-100 center">Stream now on all platforms</h3>
              </div>
              <!--              <div class="col-md-6 offset-md-3 col-sm-12">-->
              <!--                <div class="table-responsive">-->
              <!--                  <table class="table table-borderless">-->
              <!--                    <thead>-->
              <!--                    <tr class="b-0">-->
              <!--                      <th class="pb-0 center"><h2 class="mb-0">{{currentCountdown.days}}</h2></th>-->
              <!--                      <th class="pb-0 center"><h2 class="mb-0">{{currentCountdown.hours}}</h2></th>-->
              <!--                      <th class="pb-0 center"><h2 class="mb-0">{{currentCountdown.minutes}}</h2></th>-->
              <!--                      <th class="pb-0 center"><h2 class="mb-0">{{currentCountdown.seconds}}</h2></th>-->
              <!--                    </tr>-->
              <!--                    </thead>-->
              <!--                    <tbody>-->
              <!--                    <tr class="b-0">-->
              <!--                      <td class="pt-0 center"><h5>DAYS</h5></td>-->
              <!--                      <td class="pt-0 center"><h5>HRS</h5></td>-->
              <!--                      <td class="pt-0 center"><h5>MINS</h5></td>-->
              <!--                      <td class="pt-0 center"><h5>SECS</h5></td>-->
              <!--                    </tr>-->
              <!--                    </tbody>-->
              <!--                  </table>-->
              <!--                </div>-->
              <!--              </div>-->
            </div>

            <div class="row spotify-player">
              <div class="col-12">
                <iframe style="border-radius:12px"
                        src="https://open.spotify.com/embed/track/3gtZvgjnBl46unsIpD6qRx?utm_source=generator&theme=0"
                        width="100%" height="352" frameBorder="0" allowfullscreen=""
                        allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
                        loading="lazy"></iframe>
              </div>
            </div>

            <div class="row center">
              <div class="col-12 center">
                <a ng-click="clearActiveModule(); recordLinkClick('Home', 'Listen');" href="#/share">
                  <button type="button" class="btn btn-red btn-sm">Listen</button>
                </a>
                <div name="spacer" class="row py-1 show-on-small hide-on-med-and-up"></div>
                <a ng-click="clearActiveModule(); recordLinkClick('Home', 'Follow');" href="#/share">
                  <button type="button" class="btn btn-red btn-sm">Follow</button>
                </a>
                <div name="spacer" class="row py-1 show-on-small hide-on-med-and-up"></div>
                <a ng-click="recordLinkClick('Home', 'Shop')" href="{{shopFourthWallUrl}}" target="_blank">
                  <button type="button" class="btn btn-red btn-sm">Shop</button>
                </a>
              </div>
            </div>

          </div>
        </div>

      </div>

      <div class="col-sm-12 col-md-6 offset-md-3 pt-5">

        <!-- Begin Mailchimp Signup Form -->
        <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
        <style type="text/css">
          #mc_embed_signup {
            font-family: inherit;
            clear: left;
          }

          #mc_embed_signup form {
            padding-left: 0 !important;
          }

          #mc_embed_signup input {
            /*border-radius: 0 !important;*/
            -webkit-appearance: none;
          }

          #mc_embed_signup input:focus {
            border-color: white !important;
          }

          #mc_embed_signup .button {
            color: black !important;
          }

          #mc_embed_signup input.button {
            display: block;
            /*padding: 0 0.4em;*/
            /*margin: 0 4% 10px 0;*/
            min-height: 38px;
            /*height: 44px;*/
            min-width: 148px;
            text-decoration: none;
            font-size: 16px;
            background-color: transparent !important;
            text-transform: uppercase;
            text-align: center !important;
            /*line-height: 44px !important;*/
            font-weight: bold !important;
            box-shadow: none;
            /*border-radius: 0 !important;*/
            color: whitesmoke !important;
            background-color: var(--lv-blue) !important;
          }

          #mc_embed_signup input.button:hover {
            color: whitesmoke !important;
            background-color: var(--lv-blue) !important;
            border-top: none;
            border-bottom: 1px solid var(--lv-blue) !important;
            border-left: none;
            border-right: none;
          }

          #mc_embed_signup input.email {
            width: 100%;
            margin-right: 0;
            /*width: calc(100% - 26px);*/
            /*margin: 0 0 10px 0;*/
            background: transparent;
            color: white !important;
            border-top: none;
            border-bottom: 1px solid whitesmoke !important;
            border-left: none;
            border-right: none;
            padding: 0;
          }

          ::placeholder {
            color: #fff;
            opacity: 0.5;
            font-family: inherit;
          }

          /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
  We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */

        </style>
        <div id="mc_embed_signup">
          <form
            action="https://emptyatlas.us13.list-manage.com/subscribe/post?u=ab78edd056a1703ec9077b2b0&amp;id=14ff368932"
            method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate"
            target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
              <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address"
                     required>
              <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
              <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                                                                                        name="b_ab78edd056a1703ec9077b2b0_14ff368932"
                                                                                        tabindex="-1" value="">
              </div>

              <div class="clear" align="center" style="display: block;">
                <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe"
                       class="button btn btn-red btn-sm" ng-click="recordLinkClick('Home', 'Subscribe')">
              </div>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>

<video playsinline autoplay muted loop poster="/images/Maximal%20-%20Live%20Poster%20BW.png" id="bgvid">
  <source src="/images/Maximal%20-%20LIVE%20Trimmed%20BW.mp4" type="video/mp4">
  <source src="/images/Maximal%20-%20LIVE%20Trimmed%20BW.webm" type="video/webm">
</video>

<!--<div id="video" class="bg-dark d-md-flex flex-md-equal ng-scope">-->
<!--  <div class="py-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden container">-->
<!--    <div class="row my-3 py-3">-->
<!--      <div class="col-12">-->
<!--        <h2 class="display-5">MATADOR MUSIC VIDEO</h2>-->
<!--      </div>-->
<!--      <div class="col-12 mb-3 pb-3">-->
<!--        <div class="video-container">-->
<!--          <iframe width="560" height="315" src="https://www.youtube.com/embed/1vSJALEITMA" title="YouTube video player"-->
<!--                  frameborder="0"-->
<!--                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"-->
<!--                  allowfullscreen></iframe>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<div id="footer" ng-include="'views/footer.html'"></div>

<script>
  // Skip recording GA events to our account if in development.
  // if (document.location.hostname != 'localhost' && document.location.hostname != '127.0.0.1') {
    console.debug('Recording Google page view');
    gtag('config', 'UA-51847004-1', {
      send_page_view: false
    });
    gtag('event', 'page_view', {
      'page_title': 'Home',
      'page_path': '/' + location.hash
    });
  // }
</script>
