<div ng-include="'views/nav.html'"></div>

<div id="header" class="d-md-flex flex-md-equal">
  <div class="parallax-container d-md-flex flex-md-equal">
    <div class="text-center text-white overflow-hidden container">
      <div class="my-3 py-3 row">

        <div class="col-lg-6 col-md-12" align="center">
          <div class="h-100 d-table">
            <div class="d-table-cell align-middle">
              <div class="col-12 my-4">
                <div class="col-12">
                  <img src="/images/ea_logo_vertical_white.png" style="width: 100%;"/>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-12" align="center">
          <div class="h-100 d-table">
            <div class="d-table-cell align-middle">
              <div class="col-12 my-4">
                <div class="col-12">
                  <img src="/images/Empty-Atlas_2020.jpg" style="width: 100%;"/>
                  <div style="position: absolute; right: 1.5em; bottom: 0.6em;">
                    <a href="./images/Empty-Atlas_2020.jpg">
                      <button type="button" class="btn btn-gold btn-sm btn-sm-custom"><i
                        class="fas fa-file-download"></i></button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="parallax"><img src="./images/IMG_0518_blue_overlay.png"></div>
  </div>
</div>

<div id="downloads" class="bg-dark d-md-flex flex-md-equal">
  <div class="text-center text-white overflow-hidden container">
    <div class="my-3 py-3 row">

      <div class="col-12 pt-4">
        <h2 class="display-5 my-0">DOWNLOADS</h2>
      </div>

      <div class="col-md-6 offset-md-3 col-sm-12 pb-3">
        <img src="/images/short-fiction-lines-bottom.svg" style="width:100%">
      </div>

      <div class="row w-100 m-0">
        <div class="col-md-3 col-sm-12" align="center">
          <div class="col-12 pb-4">
            <a href="./images/Credit-JB-Lawrence.JPG">
              <button type="button" class="btn btn-sm btn-gold btn-sm-custom"><i class="fas fa-file-download"></i>&nbsp;&nbsp;Photo
              </button>
            </a>
          </div>
        </div>

        <div class="col-md-6 col-sm-12" align="center">
          <div class="col-12 pb-4">
            <a href="./music/Maximal-by-Empty-Atlas.mp3">
              <button type="button" class="btn btn-sm btn-gold btn-sm-custom"><i class="fas fa-file-download"></i>&nbsp;&nbsp;Latest
                Single ("Maximal")
              </button>
            </a>
          </div>
        </div>

        <div class="col-md-3 col-sm-12" align="center">
          <div class="col-12 pb-4">
            <a href="./2020-empty-atlas-press-kit.pdf">
              <button type="button" class="btn btn-sm btn-gold btn-sm-custom"><i class="fas fa-file-download"></i>&nbsp;&nbsp;PDF
                - About Us
              </button>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div id="music" class="bg-blue d-md-flex flex-md-equal">
  <div class="text-center text-white overflow-hidden container">
    <div class="my-3 py-3 row">
      <div class="col-lg-6 col-md-12">

        <div class="row my-3 py-3">
          <div class="col-12">
            <div class="col-12">
              <h2 class="display-5 my-0">BIO</h2>
            </div>

            <div class="col-12">
              <div align="left">
                <p>“The only constant is change.” Over 2,500 years after Greek philosopher Heraclitus jotted down that
                  sentiment, Empty Atlas is proving that idea true again - just in a little louder of a way.</p>

                <p>The Mississippi-based indie-rock act - featuring vocalist and rhythm guitarist Micah Smith, lead
                  guitarist Brennan Michael White, bassist Alex Ingram and drummer Robert Currie Hansford - has become
                  known for dynamic and melodically gripping songs about people and the way we connect. The band’s first
                  full-length album, 2016’s Hestia, dealt with the idea of home and what it can mean, from acceptance
                  and comfort to solitude and loneliness.</p>

                <p>Now, Empty Atlas returns with their sophomore full-length album, Kairos, available June 12, 2020, in
                  partnership with Carved From Stone Records. Smith calls the album “the other side of the coin” from
                  the band’s previous full-length. Where Hestia centered on settling down, Kairos examines the choice to
                  leave everything behind and chase success.</p>

                <p>“We all know people who put goals over everything else - that idea of, ‘If I sacrifice enough, I’ll
                  get to X, and then, it’ll be worth it,’” Smith says. “Not bashing anyone for that, but me and the guys
                  had these really honest conversations about what success looks like for us and just finding the
                  balance between the work and joy in playing music together.”</p>

                <p>An ambitious concept needed an ambitious team behind it. For that, Empty Atlas reteamed with
                  recording engineer Nick Smith at Dipping Vat Studio in Monticello, Mississippi, and Los Angeles mixing
                  engineer Tyler Spratt (Imagine Dragons, Arkells, Moby), who worked on the band’s 2018 single “Short
                  Fiction.”</p>

                <p>Already, a wide range of publications, podcasts and tastemakers have praised Kairos and its leadoff
                  single “Maximal,” including All Punked Up, Stitched Sound, Jackson Free Press, FBT Entertainment,
                  Underground Music Collective, The Quinn Spinn, and more.</p>

                <p>Preorder Kairos on May 22, 2020, at <a href="http://www.carvedfromstonerecords.com" target="_blank">carvedfromstonerecords.com</a>
                  and stream it on Spotify, Apple Music, Amazon Music and all major online music retailers on June 12,
                  2020.</p>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6 col-md-12">
        <div class="row my-3 py-3">
          <div class="col-12">
            <div class="col-12">
              <h2 class="display-5 my-0">SHOW HIGHLIGHTS</h2>
            </div>

            <div class="col-12">
              <div align="left">
                <p>Empty Atlas has performed with acts such as Marc Broussard, The Bright Light Social Hour, Yoke Lore,
                  Broadside, Hodera, Jared
                  &#38; the Mill, Secret Stuff, Sweet Crude and The Vegabonds, and at events such as Red Brick Roads
                  Fest, Amped &#38; Wired,
                  Cotton District Arts Festival, Jackson Indie Music Week and Memphis Music &#38; Heritage Fest.</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row my-3 py-3">
          <div class="col-12">
            <h2 class="display-5 my-0">AWARDS &#38; ACHIEVEMENTS</h2>
          </div>
          <div class="col-12" align="center">
            <div class="h-100 d-table">
              <div class="d-table-cell align-middle" align="left">
                <ul>
                  <li>2019 Gumtree Songwriting Competition – 1st Place</li>
                  <li>2019 Music City SongStar Semifinalist</li>
                  <li>2019 Small Hall Songwriter Contest – 2nd Place</li>
                  <li>2018 International Songwriting Competition Semifinalist</li>
                  <li>2017 John Lennon Songwriting Contest Finalist</li>
                  <li>2016 International Songwriting Competition Semifinalist</li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div class="row my-3 py-3">
          <div class="col-12">
            <h2 class="display-5 my-0">LISTEN</h2>
          </div>
          <div class="col-12 center">
            <div id="links" class="links">
              <ul class="listen-links p-0">
                <li>
                  <a href="{{iTunesUrl}}" target="_blank" title="iTunes"
                     class="btn-floating btn-large waves-effect waves-light grey darken-3"><i
                    class="fab fa-itunes-note fa-2x"></i></a>
                </li>
                <li>
                  <a href="{{appleMusicUrl}}" target="_blank" title="Apple Music"
                     class="btn-floating btn-large waves-effect waves-light grey darken-3"><i
                    class="fab fa-apple fa-2x"></i></a>
                </li>
                <li>
                  <a href="{{spotifyUrl}}" target="_blank" title="Spotify"
                     class="btn-floating btn-large waves-effect waves-light grey darken-3"><i
                    class="fab fa-spotify fa-2x"></i></a>
                </li>
                <li>
                  <a href="{{tidalUrl}}" target="_blank" title="Tidal"
                     class="btn-floating btn-large waves-effect waves-light grey darken-3">
                    <i class="fab fa-2x">
                      <img src="/images/tidal-icon_white.svg" style="height: 1.3rem; width: 100%;">
                    </i>
                  </a>
                </li>
                <li>
                  <a href="{{youTubeMusicUrl}}" target="_blank" title="YouTube Music"
                     class="btn-floating btn-large waves-effect waves-light grey darken-3"><i
                    class="fab fa-youtube-square fa-2x"></i></a>
                </li>
                <li ng-show="{{googlePlayUrl}}">
                  <a href="{{googlePlayUrl}}" target="_blank" title="Google Play"
                     class="btn-floating btn-large waves-effect waves-light grey darken-3"><i
                    class="fab fa-google-play fa-2x"></i></a>
                </li>
                <li>
                  <a href="{{amazonMusicUrl}}" target="_blank" title="Amazon Music"
                     class="btn-floating btn-large waves-effect waves-light grey darken-3"><i
                    class="fab fa-amazon fa-2x"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="row my-3 py-3">
          <div class="col-12">
            <h2 class="display-5 my-0">FOLLOW</h2>
          </div>
          <div class="col-12 center">
            <div id="links" class="links">
              <ul class="listen-links p-0">
                <li>
                  <a href="{{facebookUrl}}" target="_blank" title="Facebook"
                     class="btn-floating btn-large waves-effect waves-light grey darken-3"><i
                    class="fab fa-facebook-square fa-2x"></i></a>
                </li>
                <li>
                  <a href="{{instagramUrl}}" target="_blank" title="Instagram"
                     class="btn-floating btn-large waves-effect waves-light grey darken-3"><i
                    class="fab fa-instagram fa-2x"></i></a>
                </li>
                <li>
                  <a href="{{youTubeUrl}}" target="_blank" title="YouTube"
                     class="btn-floating btn-large waves-effect waves-light grey darken-3"><i
                    class="fab fa-youtube-square fa-2x"></i></a>
                </li>
              </ul>
            </div>
          </div>
        </div>


        <div class="row my-3 py-3">
          <div class="col-12">
            <h2 class="display-5 my-0">CONTACT &#38; BOOKING</h2>
            <div align="center">
              <p>Micah Smith<br> 601-941-3730
                <br> <a href="mailto:hello@emptyatlas.com" target="_blank">hello@emptyatlas.com</a>
              </p>
            </div>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>


<div id="footer" ng-include="'views/footer.html'"></div>
