<div ng-include="'views/nav.html'" style="height: 0;"></div>

<div id="header" class="d-md-flex flex-md-equal">
  <div class="parallax-container d-md-flex flex-md-equal pt-5">
    <div class="text-center text-white overflow-hidden container">
      <div class="my-3 py-3 row">

        <div class="col-lg-6 col-md-12" align="center">
          <div class="h-100 d-table">
            <div class="d-table-cell align-middle">
              <div class="col-12 my-4">
                <div class="col-12">
                  <img src="/images/ea_logo_vertical_white.svg" style="width: 100%;"/>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-12" align="center">
          <div class="h-100 d-table">
            <div class="d-table-cell align-middle">
              <div class="col-12 my-4">
                <div class="col-12">
                  <img src="/images/Empty-Atlas_credit-Brent-McQuillin.jpeg" style="width: 100%;"/>
                  <div style="position: absolute; right: 1.5em; bottom: 0.6em;">
                    <a href="./images/Empty-Atlas_credit-Brent-McQuillin.jpeg"
                       download="Empty-Atlas_credit-Brent-McQuillin">
                      <button type="button" class="btn btn-red btn-sm btn-sm-custom"><i
                        class="fas fa-file-download"></i></button>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="parallax"><img src="./images/Belong-bts-photo-by-Jake-Slinkard.jpg"></div>
  </div>
</div>

<div id="downloads" class="bg-dark d-md-flex flex-md-equal">
  <div class="text-center text-white overflow-hidden container">
    <div class="my-3 py-3 row">

      <div class="col-12 pt-4">
        <h2 class="display-5">DOWNLOADS</h2>
      </div>

      <div class="row w-100 m-0">
        <div class="col-md-4 col-sm-12" align="center">
          <div class="col-12 pb-4">
            <a href="./images/Empty-Atlas_credit-Brent-McQuillin_2.jpeg" download="Empty-Atlas_credit-Brent-McQuillin_2"
               ng-click="recordLinkClick('click-presskit', 'Download Photo')">
              <button type="button" class="btn btn-sm btn-red btn-sm-custom"><i class="fas fa-file-download"></i>&nbsp;&nbsp;Photo
              </button>
            </a>
          </div>
        </div>

        <div class="col-md-4 col-sm-12" align="center">
          <div class="col-12 pb-4">
            <a
              href="https://on.soundcloud.com/UR6qt"
              target="_blank" ng-click="recordLinkClick('click-presskit', 'Download Latest Single')">
              <button type="button" class="btn btn-sm btn-red btn-sm-custom"><i class="fas fa-headphones"></i>&nbsp;&nbsp;Listen
                to Belong
              </button>
            </a>
          </div>
        </div>

        <div class="col-md-4 col-sm-12" align="center">
          <div class="col-12 pb-4">
            <a href="./images/2023-empty-atlas-press-kit.pdf" download="2023-empty-atlas-press-kit"
               ng-click="recordLinkClick('click-presskit', 'Download PDF')">
              <button type="button" class="btn btn-sm btn-red btn-sm-custom"><i class="fas fa-file-download"></i>&nbsp;&nbsp;PDF
                - About Us
              </button>
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div id="music" class="d-md-flex flex-md-equal">
  <div class="parallax-container d-md-flex flex-md-equal">
    <div class="text-center text-white overflow-hidden container">
      <div class="my-3 py-3 row">
        <div class="col-lg-6 col-md-12">

          <div class="row my-3 py-3">
            <div class="col-12">
              <div class="col-12">
                <h2 class="display-5">BIO</h2>
              </div>

              <div class="col-12">
                <div align="left">
                  <p>Take it in stride. Work through the pain. Shrug it off. We have a lot of ways to say one thing:
                    We’re built to strive. You’ll find that idea at the center of “Matador,” the new single from
                    Mississippi indie-rock outfit Empty Atlas.</p>

                  <p>Epic yet intimate, fierce yet vulnerable, “Matador” picks up and runs with the signature sound and
                    lyrical flair of “Kairos,” Empty Atlas’s 2020 LP. It also marks the group’s third team-up with
                    award-winning producer and mixing engineer Tyler Spratt (Pierce the Veil, Dave Matthews Band, The
                    Brevet).</p>

                  <p>“I know for me, this was the song I needed right now,” vocalist Micah Smith says. “Putting your
                    whole heart into something can be draining, whether it’s music or work or relationships. But when
                    it’s worth the fight, you keep fighting. That’s what ‘Matador’ is about to me.”</p>

                  <p><i>“Belong” is out now. Stream it on <a href="{{spotifyUrl}}" target="_blank" title="Spotify"
                                                             ng-click="recordLinkClick('click-presskit-bio', 'Spotify')">Spotify</a>,
                    <a href="{{appleMusicUrl}}" target="_blank"
                       title="Apple Music"
                       ng-click="recordLinkClick('click-presskit-bio', 'Apple Music')">Apple
                      Music</a>, <a
                      href="{{amazonMusicUrl}}" target="_blank" title="Amazon Music"
                      ng-click="recordLinkClick('click-presskit-bio', 'Amazon Music')">Amazon Music</a>, <a
                      href="{{tidalUrl}}" target="_blank" title="Tidal"
                      ng-click="recordLinkClick('click-presskit-bio', 'Tidal')">Tidal</a> and
                    other digital platforms. Get your exclusive merch at <a href="#">emptyatlas.com</a>.</i>
                  </p>

                  <!--                  <p>Order CDs and T-Shirts while supplies last at <a href="http://www.carvedfromstonerecords.com"-->
                  <!--                                                                      target="_blank"-->
                  <!--                                                                      ng-click="recordLinkClick('click-presskit-bio', 'Carved From Stone Records')">carvedfromstonerecords.com</a>-->
                  <!--                    and stream it now on <a href="{{spotifyUrl}}" target="_blank" title="Spotify"-->
                  <!--                                            ng-click="recordLinkClick('click-presskit-bio', 'Spotify')">Spotify</a>, <a-->
                  <!--                      href="{{appleMusicUrl}}" target="_blank" title="Apple Music"-->
                  <!--                      ng-click="recordLinkClick('click-presskit-bio', 'Apple Music')">Apple Music</a>, <a-->
                  <!--                      href="{{tidalUrl}}" target="_blank" title="Tidal"-->
                  <!--                      ng-click="recordLinkClick('click-presskit-bio', 'Tidal')">Tidal</a> and all major online music-->
                  <!--                    retailers.</p>-->
                </div>
              </div>

              <div id="show-additional-info" class="row my-4 py-4">
                <div class="col-12">
                  <a href="" role="button" ng-click="showAdditionalInfo()">
                    <button type="button" class="btn btn-sm btn-red btn-sm-custom">Additional Info</button>
                  </a>
                </div>
              </div>


              <div class="row my-4 py-4 collapse" id="additional-info">
                <div class="col-12">
                  <div class="col-12">
                    <h2 class="display-5">ADDITIONAL INFO</h2>
                  </div>

                  <div class="col-12">
                    <div align="left">

                      <p>Empty Atlas is:
                      <ul class="bullet-list">
                        <li>Micah Smith <i>(lead vocals and rhythm guitar)</i></li>
                        <li>Alex Ingram <i>(bass and keys)</i></li>
                        <li>Brennan Michael White <i>(lead guitar and vocals)</i></li>
                        <li>Robert Currie Hansford <i>(drums)</i></li>
                      </ul>
                      </p>

                      <p>Vocalist and rhythm guitarist Micah Smith formed Empty Atlas in Jackson, Mississippi, in 2014,
                        first
                        releasing “Anniversary,” a double EP of his earlier recordings. The members at that time weren’t
                        able to tour, so Smith frequently hit the road for solo shows, all while writing music for a
                        full-length album.</p>

                      <p>In December 2016, Empty Atlas released its debut album, “Hestia.” The album was also the
                        catalyst
                        for creating the group’s permanent lineup.</p>

                      <p>Longtime friend and bassist Alex Ingram had just moved back to Jackson from Nashville;
                        guitarist
                        Brennan Michael White asked Smith about potentially joining at the album release show; and
                        drummer
                        Robert Currie Hansford had met the other musicians only a few weeks prior to that while playing
                        with another band.</p>

                      <p>After one meeting to see if they would click, the outfit walked away having played through most
                        of the new album and having written their first material together. By the end of December 2016,
                        Empty Atlas was officially a four-piece act.</p>

                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>

        <div class="col-lg-6 col-md-12">
          <!--          <div class="row my-3 py-3">-->
          <!--            <div class="col-12">-->
          <!--              <div class="col-12">-->
          <!--                <h2 class="display-5">SHOW HIGHLIGHTS</h2>-->
          <!--              </div>-->

          <!--              <div class="col-12">-->
          <!--                <div align="left">-->
          <!--                  <p>Empty Atlas has performed with acts such as Marc Broussard, The Bright Light Social Hour, Yoke-->
          <!--                    Lore,-->
          <!--                    Broadside, Hodera, Jared-->
          <!--                    &#38; the Mill, Secret Stuff, Sweet Crude and The Vegabonds, and at events such as Red Brick Roads-->
          <!--                    Fest, Amped &#38; Wired,-->
          <!--                    Cotton District Arts Festival, Jackson Indie Music Week and Memphis Music &#38; Heritage Fest.</p>-->
          <!--                </div>-->
          <!--              </div>-->
          <!--            </div>-->
          <!--          </div>-->

          <div class="row my-3 py-3">
            <div class="col-12">
              <h2 class="display-5">AWARDS &#38; ACHIEVEMENTS</h2>
            </div>
            <div class="col-12" align="center">
              <div class="h-100 d-table">
                <div class="d-table-cell align-middle" align="left">
                  <ul>
                    <li>2023 Unsigned Only Music Competition Semifinalist</li>
                    <li>2021 International Songwriting Competition Semifinalist</li>
                    <li>2020 MissiHippi Fest Battle of the Bands Elite 8</li>
                    <li>2019 Gumtree Songwriting Competition – 1st Place</li>
                    <li>2019 Music City SongStar Semifinalist</li>
                    <li>2019 Small Hall Songwriter Contest – 2nd Place</li>
                    <li>2018 International Songwriting Competition Semifinalist</li>
                    <li>2017 John Lennon Songwriting Contest Finalist</li>
                    <li>2016 International Songwriting Competition Semifinalist</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>

          <div class="row my-3 py-3">
            <div class="col-12">
              <h2 class="display-5">LISTEN</h2>
            </div>
            <div class="col-12 center">
              <div id="links" class="links">
                <ul class="listen-links p-0">
                  <li>
                    <a href="{{appleMusicUrl}}" target="_blank" title="Apple Music"
                       ng-click="recordLinkClick('click-presskit', 'Apple Music')"
                       class="btn-floating btn-large waves-effect waves-light btn-red"><i
                      class="fab fa-apple fa-2x"></i></a>
                  </li>
                  <li>
                    <a href="{{spotifyUrl}}" target="_blank" title="Spotify"
                       ng-click="recordLinkClick('click-presskit', 'Spotify')"
                       class="btn-floating btn-large waves-effect waves-light btn-red"><i
                      class="fab fa-spotify fa-2x"></i></a>
                  </li>
                  <li>
                    <a href="{{tidalUrl}}" target="_blank" title="Tidal"
                       ng-click="recordLinkClick('click-presskit', 'Tidal')"
                       class="btn-floating btn-large waves-effect waves-light btn-red">
                      <i class="fab fa-2x">
                        <img src="/images/tidal-icon_white.svg" style="height: 1.3rem; width: 100%;">
                      </i>
                    </a>
                  </li>
                  <li>
                    <a href="{{youTubeMusicUrl}}" target="_blank" title="YouTube Music"
                       ng-click="recordLinkClick('click-presskit', 'YouTube Music')"
                       class="btn-floating btn-large waves-effect waves-light btn-red"><i
                      class="fab fa-youtube-square fa-2x"></i></a>
                  </li>
                  <li>
                    <a href="{{amazonMusicUrl}}" target="_blank" title="Amazon Music"
                       ng-click="recordLinkClick('click-presskit', 'Amazon Music')"
                       class="btn-floating btn-large waves-effect waves-light btn-red"><i
                      class="fab fa-amazon fa-2x"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="row my-3 py-3">
            <div class="col-12">
              <h2 class="display-5">FOLLOW</h2>
            </div>
            <div class="col-12 center">
              <div id="links" class="links">
                <ul class="listen-links p-0">
                  <li>
                    <a href="{{facebookUrl}}" target="_blank" title="Facebook"
                       ng-click="recordLinkClick('click-presskit', 'Facebook')"
                       class="btn-floating btn-large waves-effect waves-light btn-red"><i
                      class="fab fa-facebook-square fa-2x"></i></a>
                  </li>
                  <li>
                    <a href="{{instagramUrl}}" target="_blank" title="Instagram"
                       ng-click="recordLinkClick('click-presskit', 'Instagram')"
                       class="btn-floating btn-large waves-effect waves-light btn-red"><i
                      class="fab fa-instagram fa-2x"></i></a>
                  </li>
                  <li>
                    <a href="{{youTubeUrl}}" target="_blank" title="YouTube"
                       ng-click="recordLinkClick('click-presskit', 'YouTube')"
                       class="btn-floating btn-large waves-effect waves-light btn-red"><i
                      class="fab fa-youtube-square fa-2x"></i></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="row my-3 py-3">
            <div class="col-12">
              <h2 class="display-5">CONTACT &#38; BOOKING</h2>
              <div align="center">
                <p>Micah Smith<br> 601-941-3730
                  <br>
                  <a href="mailto:hello@emptyatlas.com" target="_blank"
                     ng-click="recordLinkClick('click-presskit', 'Contact')">hello@emptyatlas.com</a>
                </p>
              </div>
            </div>
          </div>

          <div class="row my-3 py-3">
            <div class="col-12">
              <h2 class="display-5">OTHER</h2>
              <div align="center">
                <p>
                  <a ng-click="recordLinkClick('click-presskit', 'View Discography');" href="#/music">
                    <button type="button" class="btn btn-red btn-sm">Discography</button>
                  </a>
                </p>
                <p>
                  <a ng-click="recordLinkClick('click-presskit', 'View Press Coverage');" href="#/news">
                    <button type="button" class="btn btn-red btn-sm">Press Coverage</button>
                  </a>
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    <div class="parallax"><img src="./images/maria-orlova-bU8TeXhsPcY-unsplash.jpg"></div>
  </div>
</div>


<div id="footer" ng-include="'views/footer.html'"></div>

<script>
  // Skip recording GA events to our account if in development.
  if (document.location.hostname != 'localhost' && document.location.hostname != '127.0.0.1') {
    // ga('set', 'page', '/' + location.hash);
    // ga('send', 'pageview', '/' + location.hash);
    gtag('config', 'UA-51847004-1', {
      'page_title': 'Press Kit',
      'page_path': '/' + location.hash
    });
  }
</script>
