<div class="col-md-12 col-sm-12 col-xs-12" align="center">
  <div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="m in merchList">
    <div class="item-frame">
      <div class="item-image">
        <a href="{{m.link}}"><img src="{{m.imagePath}}" target="_blank"></a>
        <div class="item-image-overlay">
          <button ng-click="openLink(m.link)" class="btn btn-dark buy-button">
            <a href="{{m.link}}" target="_blank">{{m.action}}</a>
          </button>
        </div>
      </div>
      <div class="item-info" align="left">
        <a href="{{m.link}}" target="_blank">{{m.name}}
        </a>
        <br>
        <a href="{{squareStoreLink}}" style="font-size:11px;" target="_blank">{{m.siteName}}
        </a>
        <br>
        <a href="{{m.link}}" style="font-size:11px;" target="_blank">{{m.buyFor}}
        </a>
      </div>
    </div>
  </div>
</div>

<div style="clear:both;"></div>
