<div class="col-md-12 col-sm-12 col-xs-12" align="center">
  <div class="col-md-4 col-sm-6 col-xs-12" ng-repeat="m in merchList">
    <div class="item-frame">
      <div class="item-image">
        <a ng-if="m.price !== 'SOLD OUT'" href="{{m.link}}" target="_blank"><img src="{{m.imagePath}}"></a>
        <a ng-if="m.price === 'SOLD OUT'"><img src="{{m.imagePath}}"></a>
      </div>
      <div class="item-info" align="left">
        <h5 style="margin: 0; color:#fff;">{{m.name}}</h5>
        <small style="color:#a8a8a8;">{{m.desc}}</small>
        <br>
        <div align="right">
          <a ng-if="m.price !== 'SOLD OUT'" type="button" class="btn btn-gray" href="{{m.link}}" target="_blank">
            <span class="glyphicon glyphicon-shopping-cart"></span> {{m.price}}
          </a>
          <button ng-disabled="true" ng-if="m.price === 'SOLD OUT'" type="button" class="btn btn-gray">
            {{m.price}}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="clear:both;"></div>
