.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    padding: 0;
    background-color: black !important;
    font-family: "Palatino";
}

:focus {
    outline: none;
}

.header,
.marketing,
.footer {}

.header {
    margin-bottom: 10px;
}

h1,
h2 {
    font-family: Didot;
    color: white !important;
    text-transform: uppercase;
    margin-top: 0;
}

h3,
h4,
h5,
h6 {
    font-family: Didot;
    color: white !important;
}

m {
    text-transform: uppercase;
}

a {
    color: #c6ac6f !important;
    transition: all 0.3s linear;
}

a:hover {
    color: #FFB06C;
    cursor: pointer;
    transition: all 0.3s linear;
}

a.buy {
    color: white !important;
    margin: 0 10px;
    border-bottom: 1px solid transparent;
    transition: all 0.3s linear;
    text-transform: uppercase;
}

.content {
    margin-top: 50px;
}

.shadow {
    color: white;
    background-color: rgba(0, 0, 0, 0.40);
    border-radius: 4px;
}

a.buy:hover {
    border-bottom: 1px solid white;
    text-decoration: none;
    transition: all 0.3s linear;
    cursor: pointer;
}

.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

.navbar {
    position: fixed;
    width: 100%;
    color: white;
    background-color: #000;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    border: none;
    border-radius: 0;
}

div#js-navbar-collapse {
    overflow: scroll;
}

.navbar-nav > li,
.navbar-nav > li > a {
    height: 50px;
    display: inline-flex;
}

.footer > ul > li,
.footer > ul > li > a {
    height: 60px;
    width: 60px;
    display: inline-flex;
}

.navbar-default {
    border: none;
}

.navbar-default .navbar-toggle {
    border: none;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border: none;
}

.navbar-default .navbar-nav > li > a,
.footer > ul > li > a {
    color: white !important;
    opacity: 1;
    transition: all 0.3s linear;
}

.navbar-default .navbar-nav:hover > li > a,
.footer:hover > ul > li > a {
    color: white;
    opacity: 1;
    transition: all 0.3s linear;
}

.navbar-default .navbar-nav:hover > li > a:not(:hover),
.footer:hover > ul > li > a:not(:hover) {
    color: white;
    opacity: 0.5;
    transition: all 0.3s linear;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.footer > .active > a,
.footer > .active > a:hover,
.footer > .active > a:focus {
    color: white;
    background: none;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #181818;
}

.social-footer {
    height: 60px;
}

.footer > ul > li {
    display: inline-flex;
    height: 60px;
}


/*
.navbar-right > li > a {
    text-align: right;
}
*/

.wsite-social-item {
    background-size: 65px !important;
    overflow: hidden;
}

.wsite-social-facebook {
    background: url('/images/social/icon_facebook.png') no-repeat;
}

.wsite-social-twitter {
    background: url('/images/social/icon_twitter.png') no-repeat;
}

.wsite-social-instagram {
    background: url('/images/social/icon_instagram.png') no-repeat;
}

.wsite-social-itunes {
    background: url('/images/social/icon_apple.png') no-repeat;
}

.wsite-social-spotify {
    background: url('/images/social/icon_spotify.png') no-repeat;
}

.wsite-social-soundcloud {
    background: url('/images/social/icon_soundcloud.png') no-repeat;
}

.container {
    width: 90%;
}

.clearfix {
    clear: both;
}

.parallax-container {
    height: 100%;
}

.parallax img {
    display: block;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
    margin: 0;
}

.jumbotron p {
    font-size: 10.5pt;
}

.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

.bit-widget-container {
    font-family: "Palatino" !important;
}

.bit-track-artist-header {
    display: none !important;
}

.bit-offers.bit-button {
    background-color: #3D3D3D !important;
}

#bit-events td.bit-description-links,
#bit-events th.bit-description-links,
th.bit-tickets {
    display: none;
}

.bit-events th,
.bit-events td,
#bit-events tr[data-bit-event-id] td,
#bit-events table {
    border: none !important;
}

#bit-events table {
    border: none !important;
}

.bit-events-narrow td {
    padding: 10px 4px !important;
}

.bit-constrictor {
    margin: 0 auto;
    padding: 10px;
    width: 100%;
}

.bit-constrictor480 {
    margin: 0 auto;
}

.bit-constrictor-half {
    width: 50%;
    margin: 0 auto;
}

label.bit-uiButton.bit-uiButtonDefault {
    height: auto !important;
    margin-bottom: 0 !important;
    border: 1px solid #eee !important;
    background: #282828 !important;
    border: none !important;
    padding: 6px 18px !important;
    color: white !important;
    border-radius: 4px !important;
}

label.bit-uiButton.bit-uiButtonDefault:hover {
    color: #fff !important;
    background-color: #282828 !important;
    transition: all .3s;
}

#bit-events td .bit-uiButtonDefault a {
    color: white !important;
}

td.bit-date a {
    font-size: 16pt !important;
}

a.bit-event-data {
    color: white !important;
    line-height: normal !important;
}

td.bit-concert div a {
    font-size: 10pt !important;
    line-height: normal !important;
}

@media only screen and (max-width: 768px) {
    .bit-constrictor .narrow {
        display: block;
    }
    .bit-constrictor .wide {
        display: none;
    }
    .float-left {
        float: none;
    }
    .bit-constrictor-half {
        width: 100%;
    }
    .jumbotron {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}

@media only screen and (min-width: 768px) {
    .bit-constrictor .narrow {
        display: none;
    }
    .bit-constrictor .wide {
        display: block;
    }
    #bit-events tr[data-bit-event-id] td,
    #bit-events th.bit-date,
    #bit-events th.bit-venue,
    #bit-events th.bit-location,
    #bit-events th.bit-tickets {
        padding: 10px !important;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    #bit-events tr[data-bit-event-id] td,
    #bit-events th.bit-date,
    #bit-events th.bit-venue,
    #bit-events th.bit-location,
    #bit-events th.bit-tickets {
        padding: 10px !important;
    }
}

@media only screen and (min-width: 1024px) {
    #bit-events tr[data-bit-event-id] td,
    #bit-events th.bit-date,
    #bit-events th.bit-venue,
    #bit-events th.bit-location,
    #bit-events th.bit-tickets {
        padding: 10px !important;
    }
}

@media only screen and (min-width: 1330px) {
    #bit-events tr[data-bit-event-id] td,
    #bit-events th.bit-date,
    #bit-events th.bit-venue,
    #bit-events th.bit-location,
    #bit-events th.bit-tickets {
        padding: 10px !important;
    }
}

#bit-events .bit-fb-share {
    background: url(/images/social/icon_facebook_nospace.png) center no-repeat !important;
    background-size: contain !important;
    margin: 0 5px !important;
    height: 18px !important;
}

#bit-events .bit-twitter-share {
    background: url(/images/social/icon_twitter_nospace.png) center no-repeat !important;
    background-size: contain !important;
    margin: 0 5px !important;
    height: 18px !important;
}

.lightwidget--hover-caption-slide-up .lightwidget__caption,
figcaption.lightwidget__caption,
.lightwidget__caption,
.lightwidget--hover-caption-slide-up .lightwidget__link--hover .lightwidget__caption {
    background: #000 !important;
}

input#mce-EMAIL {
    color: white;
}

input#mce-EMAIL:focus {
    outline: 0;
    box-shadow: none;
}

input[type=email]:focus:not([readonly]) {
    border-bottom: 1px solid #c6ac6f !important;
}

m {
    vertical-align: middle;
}

.btn,
.btn:hover {
    box-shadow: none;
    text-transform: none;
}

.btn-dark {
    color: #fff !important;
    background-color: #000;
    transition: all .3s;
}

.btn-dark:hover {
    color: #fff !important;
    background-color: #292929;
    transition: all .3s;
}

button:focus,
.btn:focus {
    color: #fff !important;
    background-color: #181818;
    transition: all .3s;
}

.btn-gray {
    color: #fff !important;
    background-color: #181818;
    transition: all .3s;
}

.btn-gray:hover {
    color: #fff !important;
    background-color: #282828;
    transition: all .3s;
}

.btn-reactive {
    width: 95%;
    white-space: normal;
}

.item-frame {
    background-color: rgba(0, 0, 0, 0.40);
    border-radius: 4px;
    max-width: 550px;
    transition: all .5s;
}

.item-frame:hover {
    background-color: rgba(0, 0, 0, 0.70);
    border-radius: 4px;
    max-width: 550px;
    transition: all .5s;
}

.item-image {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 100%;
}

.item-image > a > img {
    width: 100%;
}

.image-100 {
    width: 100%;
}

.item-image-overlay {
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 1.2rem;
    transition: all .3s;
}

.item-image-overlay:hover {
    opacity: 1;
    transition: all .3s;
}

button > a,
button > a:hover {
    color: white;
}

.buy-button {
    margin-top: 50%;
    width: 200px;
}

.item-info {
    background-color: black;
    border-radius: 0 0 4px 4px;
    padding: 10px 14px;
    position: relative;
    left: -1px;
    top: 0;
    width: 100%;
}

.item-info > a {
    color: white;
    opacity: 1;
    transition: all 0.3s linear;
}

.item-info:hover > a:hover {
    color: white;
    opacity: 1;
    transition: all 0.3s linear;
}

.item-info:hover > a:not(:hover) {
    color: white;
    opacity: 0.5;
    transition: all 0.3s linear;
}

.footer {
    padding: 15px 0;
    color: #777;
    background-color: black;
}

.footer > p {
    margin: 0;
}

.fill {
    height: 100%;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .container {}
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    .header {
        margin-bottom: 50px;
    }
    .jumbotron {
        border-bottom: 0;
    }
}

.collapsible {
    border-top-color: #2D2D2D;
}

.collapsible-body,
.collapsible-body > span {
    color: white;
    background: url('/images/flowers_darker.jpg');
    border-bottom-color: #181818;
}

.collapsible-header > i {
    color: white;
    vertical-align: middle;
    font-size: 20px;
}

.collapsible-header {
    text-align: center;
    display: list-item;
    color: white;
    background-color: #000;
    border-bottom: 1px solid #181818;
}

.collapsible.popout > li.active {
    -webkit-box-shadow: 0 5px 11px 0 rgb(0, 0, 0), 0 4px 15px 0 rgb(0, 0, 0);
    box-shadow: 0 5px 11px 0 rgb(0, 0, 0), 0 4px 15px 0 rgb(0, 0, 0);
}

.collapsible.popout > li {
    -webkit-box-shadow: 0 2px 5px 0 rgb(0, 0, 0), 0 2px 10px 0 rgb(0, 0, 0);
    box-shadow: 0 2px 5px 0 rgb(0, 0, 0), 0 2px 10px 0 rgb(0, 0, 0);
}

svg#Map {
    background-size: cover;
}

#Map polygon {
    fill: rgba(0, 0, 0, 0)
}

#Map polygon:hover {
    fill: rgba(0, 0, 0, 0.3)
}

text {
    fill: white;
}

circle {
    fill: white;
    stroke: white;
    stroke-opacity: 0.5;
    stroke-width: 3px;
    transition: stroke-opacity 0.5s, stroke-width 0.5s, transform 0.5s;
    transform-origin: 50% 50%;
}

circle:hover {
    stroke-width: 20px;
    cursor: pointer;
}

.lyrics-display {
    border: 0px;
    margin: 20px;
    color: white;
    transition: all 1s linear;
}
