body {
    font-family: 'IM Fell English', serif;
    font-size: 1.25rem;
}

i {
    font-family: 'IM Fell Double Pica', serif;
}

a,
a:hover {
    color: #f1cd00;
}

#home {
    background: url('/images/Credit-JB-Lawrence-2.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.band-logo {
    height: 17em;
    max-width: 100%;
}

.short-fiction {
    font-size: 4.5em;
    line-height: 0.75em;
}

.container {
    /*    max-width: 960px;*/
}

.site-header {
    background-color: rgb(0, 101, 95);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
}

.site-header a {
    color: #999;
    transition: ease-in-out color .15s;
}

.site-header a:hover {
    color: #fff;
    text-decoration: none;
}

.site-header > div > a {
    color: white !important;
    opacity: 1;
    transition: all 0.3s linear;
    letter-spacing: 1px;
    font-size: 16px;
}

.site-header:hover > div > a,
.links:hover > ul > li > a {
    color: white;
    opacity: 1;
    transition: all 0.3s linear;
}

.site-header:hover > div > a:not(:hover),
.links:hover > ul > li > a:not(:hover) {
    color: white;
    opacity: 0.5;
    transition: all 0.3s linear;
}

a.reverse {
    unicode-bidi: bidi-override;
    direction: rtl;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
    position: absolute;
    right: 10%;
    bottom: -30%;
    width: 300px;
    height: 540px;
    background-color: #333;
    border-radius: 21px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}

.product-device::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, .1);
    border-radius: 5px;
}

.product-device-2 {
    top: -25%;
    right: auto;
    bottom: 0;
    left: 5%;
    background-color: #e5e5e5;
}

.bg-green {
    background-color: rgb(41, 100, 95);
}

.links {
    /*    padding: 15px 0;*/
    color: white;
    background-color: transparent;
}

.links > p {
    margin: 0;
}

.links > ul > li,
.links > ul > li > a {
    display: inline-flex;
}

.links > ul > li > a {
    color: white !important;
    opacity: 1;
    transition: all 0.3s linear;
    text-decoration: none;
    margin: 10px;
}

.links:hover > ul > li > a {
    color: white;
    opacity: 1;
    transition: all 0.3s linear;
}

.links:hover > ul > li > a:not(:hover) {
    color: #0e1b2b;
    opacity: 0.5;
    transition: all 0.3s linear;
}

.links > .active > a,
.links > .active > a:hover,
.links > .active > a:focus {
    color: #0e1b2b;
    background: none;
}

.listen-links {
    height: auto;
    padding: none;
}

.links > ul > li {
    display: inline-flex;
}

.svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%;
    /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}

.svg-content-responsive {
    display: inline-block;
    top: 10px;
    left: 0;
}

svg#star-map {
    /*
    background-size: cover;
    background-image: url('/images/anniversary-constellation.png');
    background-position: center;
*/
}

#star-map polygon {
    fill: rgba(0, 0, 0, 0)
}

#star-map polygon:hover {
    fill: rgba(0, 0, 0, 0.3)
}

text {
    fill: white;
}

circle {
    fill: white;
    stroke: white;
    stroke-opacity: 0.5;
    stroke-width: 3px;
    transition: stroke-opacity 0.5s, stroke-width 0.5s, transform 0.5s;
    transform-origin: 50% 50%;
}

circle:hover {
    stroke-width: 20px;
    cursor: pointer;
}

.lyrics-display {
    color: white;
    transition: all 1s linear;
}

/*
 * Extra utilities
 */

.flex-equal > * {
    -ms-flex: 1;
    flex: 1;
}

@media (min-width: 768px) {
    .flex-md-equal > * {
        -ms-flex: 1;
        flex: 1;
    }
}

.overflow-hidden {
    overflow: hidden;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
